
@mixin flexalign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;  
}

@mixin fontstyle ($fontsize:14px, $fontWeight:900, $color: $text-color-main){ 
    color: $color;
    font-size: $fontsize;
    font-weight: 500;
    
}