@import './colors.scss';
@import './mixins.scss';


body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    @include flexalign;
}
.header{
    height: 109px;
    @include flexalign(space-between);
    
    &__menu{ /*& заменяет .header*/

        @include flexalign;

        &-logo{ /*& заменяет .header__menu*/

        }
        .links{

            list-style-type: none;

            &__item{

                display: inline-block;
                margin-left: 30px;

                a{
                    text-decoration: none;
                    @include fontstyle;
                }

            }

        }
        
    }
    &__contacts{
        @include flexalign;

        &-item{
            margin-right: 40px;
            color: $text-color-main;
            &:last-child{
                margin-right: 0;
            }
            &-text{
                text-decoration: none;
                @include fontstyle;

            }
        }
    }
}

.banner{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    clip-path: polygon(0 0, 70% 0, 75% 7%, 80% 0, 100% 0, 100% 100%, 30% 100%, 25% 93%, 20% 100%, 0 100%); /*делаем вырезы в картинке по часовой сделке задаем координаты*/

    &__content{
        height: 730px;
        padding-top: 180px;
        box-sizing: border-box;

        .info{
            color: white;
            &_title {
                margin: 0;
                @include fontstyle(36px, 300, white);
            }
            &__text{
                margin: 45px 0 55px 0;
                @include fontstyle(14px, 300, white);
                line-height: 22px;
                letter-spacing: 2px;
            }
        }
    }
}
.container{
    width: 1172px !important;
}

.title{
    @include fontstyle(36px, 900, white);
    margin: 0;
    margin-bottom: 18px;
    letter-spacing: 2px;

    &_main{
        color: $text-color-main;
    }

    &_active{
        color: $activecolor;
    }

}

.divider{
    width: 105px;
    border: none;
    border-top: 2px solid $text-color-main;
    margin: 0;
    margin: 30px 0 44px 0;
}

.button{
    width: 240px;
    height: 60px;
    border-radius: 30px;
    outline: none; /*убирает обводку вокруг кнопки*/
    background-color: transparent;
    border: 3px solid rgba($color: white, $alpha: .7);
    box-sizing: border-box;
    text-transform: uppercase;
    @include fontstyle(21px, 900, white);
    cursor: pointer;
    transition: .3s;
    animation-name: buttonanimation;
    animation-duration: 2s;
    @include flexalign;

    &:hover{
        background-color: rgba($text-color-main, $alpha: .6);
        box-shadow: 0 0 10px 0 rgba($color: black, $alpha: .6);
        
    }
    &_learn{
        
    }

}
.features{
    flex-direction: column;
    padding: 105px 0 150px 0;

    &__text{
        width: 770px;
        text-align: center;
        @include fontstyle(16px, 300, $text-color-mited)
    }

    .navigation{
        width: 100%;
        @include flexalign;
        margin-top: 67px;

        &__radio{
            display: none;
        }

        &__menu{
            min-width: 350px;
            

               &-item{
                width: 100%;
                height: 120px;
                @include flexalign(space-between);
                padding: 0 60px 0 40px;
                box-sizing: border-box;
                position: relative;


                .icon{
                    fill: $text-color-mited;

                    }
                
                .text{
                    @include fontstyle(20px, 300, $text-color-mited);

                    }
                }

            }


        &__content{
            width: 100%;
            padding-left: 150px;
            box-sizing: border-box;

            .feature{
                width: 100%;
                height: 600px;
                @include flexalign($pos: column);
                display: none;

                &__image{
                    filter: grayscale(5%) hue-rotate(160deg) opacity(.8);
                    margin-bottom: 80px;
                }

                &__content{
                    width: 100%;

                    &-title{
                        margin: 0;
                        @include fontstyle(24px, 900);
                        margin-bottom: 38px;
                    }

                    &-text{
                        margin: 0;
                        @include fontstyle(16px, 300, $text-color-mited);
                        width: 670px;
                        line-height: 24px;
                    }

                }
            }
        }
    }

}

.smart{
    background-color: $even-background;
    padding: 80px 0;
    box-sizing: border-box;

    .container{
        @include flexalign;
    }
    &__content{
        width: 50%;

        &-title{
            @include fontstyle(36px, 300);
        }

        &-text{
            @include fontstyle(16px, 300, $text-color-mited);
            padding-right: 100px;
            box-sizing: border-box;
            margin-bottom: 60px;
        }
    }
    &__image{
        width: 50%;
        @include flexalign;
    }
}

//----

#bag:checked ~ .navigation__menu > .bag { /*если чекнут, то применяются параметры внутри*/

    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $activecolor;
    }


    .text{
        @include fontstyle(20px, 500, $text-color-main)
    } 
    .icon{
        fill: $activecolor; /*перекрасили иконки*/
    }
}

#bag:checked ~ .navigation__content > .bag{
    display: flex;
}

#leaf:checked ~ .navigation__menu > .leaf { /*если чекнут, то применяются параметры внутри*/

    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $activecolor;
    }

    .text{
        @include fontstyle(20px, 500, $text-color-main)
    } 
    .icon{
        fill: $activecolor; /*перекрасили иконки*/
    }
}

#heart:checked ~ .navigation__menu > .heart { /*если чекнут, то применяются параметры внутри*/

    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $activecolor;
    }


    .text{
        @include fontstyle(20px, 500, $text-color-main)
    } 
    .icon{
        fill: $activecolor; /*перекрасили иконки*/
    }
}

#heart:checked ~ .navigation__content > .heart{
    display: flex;
}
#smart:checked ~ .navigation__menu > .smart { /*если чекнут, то применяются параметры внутри*/

    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $activecolor;
    }


    .text{
        @include fontstyle(20px, 500, $text-color-main)
    } 
    .icon{
        fill: $activecolor; /*перекрасили иконки*/
    }
}
#umbr:checked ~ .navigation__menu > .umbr { /*если чекнут, то применяются параметры внутри*/

    &::after{
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $activecolor;
    }


    .text{
        @include fontstyle(20px, 500, $text-color-main)
    } 
    .icon{
        fill: $activecolor; /*перекрасили иконки*/
    }
}

//-----

@keyframes buttonanimation { /*анимация кнопки download*/
    0%{
        transform: translate(-1000px, -1000px);
    }

    20% {
        transform: translate(-300px, -300px);
    }

    40% {
        transform: rotate(-100deg) translate(-50px, -40px);
        background-color: cadetblue;
    }

    60% {
        transform: rotate(100deg) translate(20px, 20px);
    }

    80% {
        transform: rotate(200deg) translate(60px, 60px);
    }

    100% {
        transform: rotate(0) translate(0, 0);
    }
}